@import '0-plugins/plugins-dir'
@import '1-base/base-dir'
@import '2-modules/modules-dir'
@import '3-layouts/layouts-dir'

body
  background-color: #EBEBEB

.social
  background-color: #fff
  text-align: center
  @include clearfix
  a
    display: inline-block
    width: 40px
    height: 40px
  .twitter
    background-image: url(../images/twitter_icon_pink.png)
  .linkedin
    background-image: url(../images/linkedin_icon_pink.png)
  .github
    background-image: url(../images/github_icon_pink.png)

header
  background-color: #fff
  text-align: center
  @include margin(0 0 1.5em 0)
  @include padding(10px 0 10px 0)


.cards
  @include justify-content(center)

.card
  background: white
  max-width: 300px
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4)
  &:hover
    color: #333
  .card-header, .card-copy
    background: white
    color: #333
    border-bottom: none
    font-weight: normal
  .card-image
    padding: 2px

