header {
  display: flex;
  justify-content: center;
}

header .filler {
  flex-grow: 1;
  background-color: black;
}

header .image {
  flex-grow: 3;
  height: 221px;
  background-image: url(../images/head.png);
  background-position: 100% 0;
}

header .image a img{
  margin-top: 10px;
  margin-left: 10px;
  float: right;
  width: 30px;
  height: 30px;
}

section.blog, section.talks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.blog, section.talks {
  width: 48%;
  padding-top: 20px;
  margin: auto;
}

section.blog {
  background-color: blue;
  float: left;
}

section.talks {
  background-color: #FB9393;
  float: right;
}

section img {
  flex-grow: 1;
  margin: 20px;
  width: 300px;
  height: 200px;
  max-width: 300px;
  min-width: 300px;
}

@media (max-width: 1000px) {
  header .image {
    background-position: 50% 0;
  }
}

@media (max-width: 630px) {
  section.blog, section.talks {
    float: none;
  }
}

@media (max-width: 500px) {
  header .image {
    background-position: 70% 0;
    height: 150px;
    background-size: 680px;
  }
}
