body {
  /* background-color: gray; */
}

header {
  display: flex;
  justify-content: center;
}

header .filler {
  flex-grow: 1;
  background-color: black;
}

header .image {
  flex-grow: 3;
  height: 221px;
  background-image: url(../images/head.png);
  background-position: 100% 0;
}

header .image a img{
  margin-top: 10px;
  margin-left: 10px;
  float: right;
  width: 30px;
  height: 30px;
}

section.blog-title, section.talks-title {
  width: 48%;
  margin: auto;
  background-color: pink;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}

section.blog-title {
  float: left;
}

section.talks-title {
  float: right;
}

section.blog, section.talks {
  background-color: pink;
}

section.blog, section.talks {
  width: 48%;
  margin: auto;
}

section.blog {
  float: left;
}

section.blog .content, section.talks .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.talks-title-mobile {
  display: none;
  width: 48%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}

section.separator {
  display: none;
  background-color: white;
  height: 30px;
}

section.talks {
  float: right;
}

section .content img {
  flex-grow: 1;
  margin: 20px;
  width: 300px;
  height: 200px;
  max-width: 300px;
  min-width: 300px;
}

.more {
 text-align: center;
 padding-bottom: 20px;
}

@media (max-width: 1000px) {
  header .image {
    background-position: 50% 0;
  }
}

/* the 2 columns collide */
@media (max-width: 630px) {
  body {
    background-color: pink;
  }

  section.blog, section.talks, section.blog-title, section.talks-title {
    float: none;
    background-color: transparent;
  }

  section.talks-title {
    display: none;
  }

  section.talks-title-mobile, section.separator {
    display: block;
  }
}

@media (max-width: 500px) {
  header .image {
    background-position: 70% 0;
    height: 150px;
    background-size: 680px;
  }
}
