.clear {
  clear: both;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

header .filler {
  flex-grow: 1;
  background-color: black;
}

header .image {
  flex-grow: 3;
  height: 221px;
  background-image: url(../images/head.png);
  background-position: 100% 0;
}

header .image a {
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.filler.right a {
  display: none;
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.linkedin {
  float: right;
  background-image: url(../images/linkedin_icon.png);
}

.twitter {
  float: right;
  background-image: url(../images/twitter_icon.png);
}

.github {
  float: right;
  background-image: url(../images/github_icon.png);
}

.linkedin:hover {
  background-image: url(../images/linkedin_icon_pink.png);
}

.twitter:hover {
  background-image: url(../images/twitter_icon_pink.png);
}

.github:hover {
  background-image: url(../images/github_icon_pink.png);
}

section.blog-title, section.talks-title {
  width: 48%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
}

section.blog-title {
  float: left;
}

section.talks-title {
  float: right;
}

section.blog, section.talks {
  width: 48%;
  margin: auto;
}

section.blog {
  float: left;
}

section.blog .content, section.talks .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.talks {
  float: right;
}

section .content img {
  flex-grow: 1;
  margin: 20px;
  width: 300px;
  height: 200px;
  max-width: 300px;
  min-width: 300px;
}

.more {
 text-align: center;
 padding-bottom: 20px;
}

@media (max-width: 1000px) {
  header .image {
    background-position: 50% 0;
  }

  header .image a {
    display: none;
  }

  .filler.right a {
    display: block;
  }

  .filler.right a.github{
    margin-top: 45px;
  }
}

/* the 2 columns collide */
@media (max-width: 630px) {
  section .content img {
    flex-grow: 1;
    margin: 10px 3px 0 3px;
    width: 150px;
    height: 100px;
    max-width: 150px;
    min-width: 100px;
  }

  section.blog, section.talks {
    width: 50%;
  }
}

@media (max-width: 500px) {
  header .image {
    background-position: 70% 0;
    height: 150px;
    background-size: 680px;
  }

  .filler.right a.github{
    margin-top: 15px;
  }
}
