.social
  background-color: #fff
  float: right
  a
    display: block
    margin-right: 10px
    width: 30px
    height: 30px
  .twitter
    background-image: url(../images/twitter_icon_gray.png)
  .linkedin
    background-image: url(../images/linkedin_icon_gray.png)
    margin: 5px 0 5px 0
  .github
    background-image: url(../images/github_icon_gray.png)

header
  background-color: #fff
  text-align: center
  @include margin(0 0 1.5em 0)
  @include padding(32px 0 32px 0)
