.cards 
  @include justify-content(center)

.card 
  max-width: 300px

.accordion-tabs
  .tab-header-and-content 
    display: inline
  .tab-link 
    @include inline-block
  .tab-content 
    float: left
