$active-tab: rgb(250, 64, 198)

.talks-link
  margin-right: 20px
  font-size: em(26)

.blog-link
  margin-left: 20px
  font-size: em(26)

.home
  .talks-link
    color: $active-tab
    cursor: default
    &:hover
      color: $active-tab
  .blog-link
    color: #aaa
    &:hover
      color: $active-tab
