.cards 
  @include justify-content(center)

.card 
  max-width: 300px

// keep last tab in it's position on narraw screen
.accordion-tabs
  // not sure how to apply it in this file
  // $tab-content-background: #EBEBEB
  .tab-header-and-content 
    display: inline
  .tab-link 
    @include inline-block
  .tab-content 
    float: left
